* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

p {
	padding-bottom: 1em;
}

/* Animation Toolkit */
.scroll-up-container {
	width: 100%;
	height: 100%;	
	overflow: hidden;
	position: relative;
	background-color: black;
	background-image: url(../img/starsbackground.png);
	z-index: -1;
}

.scroll-up-shape {
	position: relative;
	width: 200%;
	height: 300%;
	left: -50%;
	top: -200%;
	margin: 0;
	overflow: hidden;

	animation: scroll-up-shape 30s linear;
}

.scroll-up-text {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 32px;
	color: yellow;

	animation: scroll-up-text 30s linear;
}

@keyframes scroll-up-shape {
	0% { 
		transform-origin: 50% 100%;
		transform: perspective(100px) rotateX(5deg);
		visibility: visible;
		opacity: 1;
	}
	99% { 
		transform-origin: 50% 100%;
		transform: perspective(100px) rotateX(5deg);
		visibility: visible;
		opacity: 1;
	}
	100% {
		transform-origin: 50% 100%;
		transform: perspective(100px) rotateX(5deg);
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes scroll-up-text {
	0% {
		transform: translateY(100%);
		visibility: visible;
		opacity: 1;
	}
	99% {
		transform: translateY(-50%);
		visibility: visible;
		opacity: 1;
	}
	100% {
		transform: translateY(-50%);
		visibility: hidden;
		opacity: 0;
	}
}

.main-menu {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	align-items: center;
	position: fixed;

	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
}

.main-menu-list {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	align-items: center;
	width: 1024px;
	margin: 0 auto;
	list-style-type: none;
}

.main-menu-item {
	flex-direction: row;
	margin: 0 auto;
}

.main-menu-button {
	display: none;
}

.main-menu a:link,
.main-menu a:visited,
.main-menu a:hover,
.main-menu a:active {
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
}

.article-one-main {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: row;
	max-width: 1024px;
	font-size: 18px;
	padding: 5em 8.65em;
	margin: 0 auto;
}

.article-one-title {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 1em;
}

.article-one-content {
	max-width: 60%;
	padding-right: 3em;
}

.article-one-content a:link,
.article-one-content a:visited,
.article-one-content a:hover,
.article-one-content a:active {
	color: #000000;
	text-decoration: underline;
}

.article-one-ad {
	/* max-width: 40%; */
	min-width: 300px;
	min-height: 600px;
}

.article-one-ad-img {
	width: 100%;
	height: 100%;
}

.article-two-main {
	max-width: 1024px;
	padding-top: 5em;
	padding-bottom: 3em;
	padding-left: 8.65em;
	padding-right: 7.1em;
	margin: 0 auto;
}

.article-two-part1 {
	max-width: 100%;
}

.article-two-title {
	font-size: 32px;
	max-width: 100%;
	padding-left: 1em;
	padding-bottom: 1em;
}

.article-two-part2,
.article-two-part3 {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: row;
	max-width: 100%;
	font-size: 14px;
	line-height: 24px;
}

.article-two-picture {
	max-width: 40%;
	padding-right: 1em;
	padding-bottom: 1em;
}

.article-two-picture-img {
	max-width: 300px;
	width: auto;
	height: auto;
}

.article-two-content-part1 {
	max-width: 60%;
}

.article-two-content-part1,
.article-two-content-part2 {
	padding-bottom: 1em;
}

.article-two-content-part2-list {
	list-style-type: none;
}

.article-two-content-part2-item p:before {
	content:"- ";
}

.article-two-content-part2-item p {
	padding-bottom: 0;
}

.footer-bottom {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../img/darthvador.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #9B9B9B;
	height: 272px;
	width: 100%;
}

.footer-bottom-copyright {
	margin: 0 auto;
	font-size: 14px;
	padding-bottom: 2em;
}

.footer-bottom-link {
	display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	/* TWEENER - IE 10 */
	display: -webkit-flex;	/* NEW - Chrome */
	display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: row;
	align-items: center;
	width: 100%;
}

.footer-bottom-link-legal-one,
.footer-bottom-link-legal-two,
.footer-bottom-link-social {
	min-width: 33%;
	text-align: center;
	font-size: 12px;
}

.footer-bottom-link-legal-one-list,
.footer-bottom-link-legal-two-list,
.footer-bottom-link-social-list {
	list-style-type: none;
}

.footer-bottom-link-legal-one-list,
.footer-bottom-link-legal-two-list {
	line-height: 30px;
}

.footer-bottom-link a:link,
.footer-bottom-link a:visited,
.footer-bottom-link a:hover,
.footer-bottom-link a:active {
	color: #9B9B9B;
	text-decoration: underline;
}

.header-img-container {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-image: url(../img/theforceawaken.png);
	background-size: cover;
	background-position: center;
	/* background-repeat: no-repeat; */
	background-color: #FFFFFF;
}

.kylo-img-container {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-image: url(../img/mask.png);
	background-position: center;
	/* background-repeat: no-repeat; */
	background-color: #FFFFFF;
}

.troopers-img-container {
	width: 100%;
	height: 250px;
	overflow: hidden;
	background-image: url(../img/troopers.png);
	background-size: cover;
	background-position: center;
	/* background-repeat: no-repeat; */
	background-color: #FFFFFF;
}

@media screen and (max-width: 375px) {

	.header-img-container {
		height: 225px;
		background-image: url(../img/theforceawaken225.png);
	}

	.kylo-img-container {
		height: 225px;
		background-image: url(../img/mask225.png);
	}

	.troopers-img-container {
		height: 100px;
		background-image: url(../img/troopers100.png);
	}

}

@media screen and (min-width: 376px) and (max-width: 500px) {

	.header-img-container {
		height: 275px;
		background-image: url(../img/theforceawaken275.png);
	}

	.kylo-img-container {
		height: 275px;
		background-image: url(../img/mask275.png);
	}

	.troopers-img-container {
		height: 125px;
		background-image: url(../img/troopers125.png);
	}

}

@media screen and (min-width: 501px) and (max-width: 650px) {

	.header-img-container {
		height: 350px;
		background-image: url(../img/theforceawaken350.png);
	}

	.kylo-img-container {
		height: 350px;
		background-image: url(../img/mask350.png);
	}

	.troopers-img-container {
		height: 150px;
		background-image: url(../img/troopers150.png);
	}

}

@media screen and (min-width: 650px) and (max-width: 750px) {

	.header-img-container {
		height: 400px;
		background-image: url(../img/theforceawaken400.png);
	}

	.kylo-img-container {
		height: 400px;
		background-image: url(../img/mask400.png);
	}

	.troopers-img-container {
		height: 175px;
		background-image: url(../img/troopers175.png);
	}

}

@media screen and (max-width: 1023px) {

	.main-menu-button {
		display: inline;
		position: fixed;
		right: 5px;
		top: 5px;
		height: 48px;
		width: 48px;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 10px;
		z-index: 10;
	}

	.main-menu-button-icon {
		height: 100%;
		width: 100%;
		pointer-events: all;
		cursor: pointer;
	}

	.main-menu-button-icon-close {
		display: none;
		height: 100%;
		width: 100%;
		pointer-events: all;
		cursor: pointer;
	}

	.main-menu {
		left: -1024px;
		width: 100%;
		height: 100%;
		background-image: url(../img/starsbackground.png);
		background-size: cover;
		background-repeat: no-repeat;
		transition: left 0.25s;
	}

	.main-menu-show {
		left: 0px;
		transition: left 0.25s;
	}

	.main-menu-list {
		flex-direction: column;
		
		width: 80%;
		height: 100%;
	}

	.main-menu-item {
		display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;	/* TWEENER - IE 10 */
		display: -webkit-flex;	/* NEW - Chrome */
		display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

		align-items: center;
		justify-items: center;
		flex: 1;
	}

	.article-one-main {
		max-width: 100%;
		padding: 2em 2.5em;
	}

	.article-one-content {
		max-width: 100%;
		text-align: center;
		padding: 0;
	}

	.article-one-ad {
		display: none;
	}

	.article-two-main {
		padding: 2em 2.5em;
		text-align: center;
	}

	.article-two-title {
		padding-left: 0;
	}

	.article-two-part2,
	.article-two-part3 {
		flex-wrap: wrap;
	}

	.article-two-picture {
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.article-two-content-part1 {
		max-width: 100%;
	}

	.footer-bottom-copyright {
		display: none;
	}

	.footer-bottom-link {
		flex-wrap: wrap;
	}

	.footer-bottom-link-legal-one,
	.footer-bottom-link-legal-two {
		width: 50%;
		padding-bottom: 3em;
	}

	.footer-bottom-link-social {
		width: 100%;
		padding-top: 2em;
	}

	.footer-bottom-link-social-list {
		display: -webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;		/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;	/* TWEENER - IE 10 */
		display: -webkit-flex;	/* NEW - Chrome */
		display: flex;			/* NEW, Spec - Opera 12.1, Firefox 20+ */

		flex-direction: row;
		align-items: center;
		width: 100%;
	}

	.footer-bottom-link-social-item {
		width: 50%;
	}

}